@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/switzer');

body{
    font-family: 'Switzer', sans-serif;
}

.bgImage {
  background-image: url("/public/heroImageBig.png");
 
}

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.blur-text {
  color: transparent; /* Hide the original text */
  text-shadow: 0 0 5px rgba(124, 121, 121, 0.5); /* Apply a blur effect */
}


@media (min-width:480px)  { 
  .bgImage {
      background-image: url("/public/heroImagesmall.png");
      
  }   
}